################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/code/RadishV2/Client/bin/Debug/net5.0
/code/RadishV2/Client/obj
/code/RadishV2/Server/bin/Debug/net5.0
/code/RadishV2/Server/obj/Debug/net5.0/ref
/code/RadishV2/Server/obj
/code/RadishV2/Shared/bin/Debug/net5.0
/code/RadishV2/Shared/obj
/code/RadishV2.Server.Application/bin/Debug/net5.0
/code/RadishV2.Server.Application/obj
/code/.vs/RadishV2
/code/RadishV2.Tests/bin/Debug
/code/RadishV2.Tests/obj
/code/RedisKeyTool/Client/obj
/code/RedisKeyTool/Server/obj
/code/RedisKeyTool/Shared/obj
/code/RedisKeyTool.Server.Application/obj
/code/RedisKeyTool.Tests/obj
/code/RedisKeyTool/Client/bin/Debug/net5.0
/code/RedisKeyTool/Server/bin/Debug/net5.0
/code/RedisKeyTool/Shared/bin/Debug/net5.0
/code/RedisKeyTool.Server.Application/bin/Debug/net5.0
/code/RedisKeyTool.Tests/bin/Debug/net5.0
/code/.vs/RedisKeyTool
