@using RedisKeyTool.Client.Dialogs

@inherits LayoutComponentBase

@inject Radzen.DialogService dialogService

<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <div class="navbar-brand">
            <RadzenImage Path="rkt_icon.png" Style="width:30px" />
            Redis Key Tool
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mr-auto">
                <NavMenu />
            </div>
            <form class="form-inline mt-2 mt-md-0 float-right">
                <RadzenButton Click=@(args => OpenAbout()) Icon="help" ButtonStyle="ButtonStyle.Light" />
            </form>
        </div>
    </nav>
</header>
<main role="main" class="flex-shrink-0 pt-5 pb-5">
    <div class="container">
        <div>
            <div style="padding-top: 10px;">&nbsp;</div>
        </div>
        <div class="content px-10">
            @Body
        </div>
    </div>
</main>

@code
{
    async Task OpenAbout()
    {
        DialogOptions options = new DialogOptions();
        options.ShowClose = true;

        dynamic value = await dialogService.OpenAsync<AboutRkt>("About Application", null, options);
    }
}