@inject Radzen.DialogService dialogService

<RadzenCard Style="margin-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                Expiration - Countdown until the key is removed automatically
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul>
                    <li>Format: HH:MM:SS</li>
                    <li>00:00:00 - Never Expires</li>
                </ul>
            </div>
        </div>
    </div>
</RadzenCard>

@code {

}