@inject Radzen.DialogService dialogService

<RadzenCard Style="margin-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <RadzenImage Path="rkt_icon.png" Style="width:80px" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h2>Radish</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Version
            </div>
            <div class="col-sm-8">
                2
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Project
            </div>
            <div class="col-sm-8">
                <RadzenLink Path="https://github.com/cmbyerly/RedisKeyTool" Text="Project Page" target="_blank" />
            </div>
            <div class="col-sm-4">
                License
            </div>
            <div class="col-sm-8">
                <RadzenLink Path="https://github.com/cmbyerly/RedisKeyTool/blob/main/LICENSE" Text="License" target="_blank" />
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-sm-12">
                <strong>Contains Components From</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                Radzen Blazor Components
            </div>
            <div class="col-sm-6">
                <RadzenLink Path="https://blazor.radzen.com/" Text="Radzen Blazor Components" target="_blank" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                StackExchange.Redis
            </div>
            <div class="col-sm-6">
                <RadzenLink Path="https://stackexchange.github.io/StackExchange.Redis/" Text="StackExchange.Redis" target="_blank" />
            </div>
        </div>
    </div>
</RadzenCard>

@code {

}