@using RadishV2.Client.Dialogs

@inherits LayoutComponentBase

@inject Radzen.DialogService dialogService

<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />

<div class="page">
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
            <div class="navbar-brand">Radish - Version 2</div>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    &nbsp; @*This is here for spacing*@
                </div>
                <form class="form-inline mt-2 mt-md-0 float-right">
                    <RadzenButton Click=@(args => OpenAbout()) Icon="help" ButtonStyle="ButtonStyle.Light" />
                </form>
            </div>
        </nav>
    </header>
    <div class="main">
        <div class="top-row px-4">
            &nbsp; @*This is here for spacing*@
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code
{
    async Task OpenAbout()
    {
        DialogOptions options = new DialogOptions();
        options.ShowClose = true;

        dynamic value = await dialogService.OpenAsync<AboutRadish>("About Application", null, options);
    }
}