@using RadishV2.Client.Dialogs

@inherits LayoutComponentBase

@inject Radzen.DialogService dialogService

<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />

<div class="page">
    <div class="main">
        <div class="top-row px-4">
            <h2>Radish - Version 2</h2>
            <RadzenButton Click=@(args => OpenAbout()) Icon="help" ButtonStyle="ButtonStyle.Light" Style="margin-left:5px;padding-left:5px;" />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code
{
    async Task OpenAbout()
    {
        DialogOptions options = new DialogOptions();
        options.ShowClose = true;

        dynamic value = await dialogService.OpenAsync<AboutRadish>("About Application", null, options);
    }
}